* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
}

.nav-bar {
  position: absolute;
  z-index: 2;
  width: 100%;
  background-color: rgba(100, 100, 100, .5);
  justify-content: space-between;
}

.nav-item {
  margin-left: 10%;
  margin-right: 10%;
}



.nav-link {
  display: flex;
  align-items: center;
  padding: 0 1% 0 10%;
  list-style: none;
  height: 8vh;
  margin: 0;
  justify-content:end;
}

li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 1.75rem;
}

.container-fluid{
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.hero-image{
  position: relative;
  background-image: url(../images/Family-Home.jpg);
  background-size:cover;
  background-position: center;
  height: 100%;
  width: 100%;
  margin-top: 0vh;
}

.image-opacity {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background:rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-text {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  position: absolute;
  top: 75%;
  left: 48%;
  font-size: 15px;
  color: #fff;
  z-index: 2;
}

@media (max-width: 768px) {
  .nav-bar {
    display: block;
    width: 100%;
    position: relative;
  }
  
  .nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    position: absolute;
  }
}